body{
    background-image: url("https://img.freepik.com/vector-premium/bandera-fondo-estados-unidos_19426-831.jpg");
    background-position: center;
}

.ingles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -290px;
    font-size: 65px;
    color: white;
}

.video{
    width: 500px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.video1{
    margin-left: -495px;
    margin-top: 110%;
}

.video2{
    margin-left: 495px;
    margin-top: 110%;
} 

.container{
    width: 480px;
    height: 145vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-153%, -21%);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    background: transparent;
}

.relative{
    width: 480px;
    height: 135px;
    background-color: red;
    border-radius: 25px;
}

.meaning{
    width: 480px;
    height: 135px;
    background-color: rgb(6, 144, 56);
    border-radius: 25px;
}

.pronounds{
    width: 480px;
    height: 145px;
    background-color: rgb(118, 2, 154);
    border-radius: 25px;
}

.examples{
    width: 480px;
    height: 195px;
    background-color: rgb(72, 84, 255);
    border-radius: 25px;
}









.container2{
    width: 480px;
    height: 145vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -71%);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    background: transparent;
}

.container2 h1{
    color: white;
    margin-top: 700px;
}

.container2 a{
    font-size: 35px;
    text-decoration: none;
    color: blue;
    background: white;
}

.present{
    width: 480px;
    height: 135px;
    background-color: red;
    border-radius: 25px;
}

.afirmativo{
    width: 480px;
    height: 185px;
    background-color: rgb(255, 0, 251);
    border-radius: 25px;
}

.negativo{
    width: 480px;
    height: 185px;
    background-color: rgb(0, 255, 166);
    border-radius: 25px;
}

.inte{
    width: 480px;
    height: 170px;
    background-color: rgb(38, 0, 255);
    border-radius: 25px;
}








.container3{
    width: 480px;
    height: 145vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(55%, -21%);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    background: transparent;
}


.progressive{
    width: 480px;
    height: 135px;
    background-color: red;
    border-radius: 25px;
}

.aff{
    width: 480px;
    height: 185px;
    background-color: rgb(38, 255, 0);
    border-radius: 25px;
}

.nn{
    width: 480px;
    height: 185px;
    background-color: rgb(217, 255, 0);
    border-radius: 25px;
}

.int{
    width: 480px;
    height: 170px;
    background-color: rgb(166, 0, 255);
    border-radius: 25px;
}

.txtaff{
    font-size: 14px;
}




.container4{
    width: 480px;
    height: 145vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(55%, 68%);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    background: transparent;
}




.container5{
    width: 480px;
    height: 145vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-153%, 68%);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    background: transparent;
}